<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <!-- <title>Product Details</title>
    <h2>Product name: {{ product.name }}</h2>
    <h3>Price: {{ product.price }}</h3>
    <p>Details:{{ product.details }}</p>
    <a href="/products/">Go to product list</a>
    <br>
    <br> -->
    <title>Product details</title>
    <h2>Product name: {{ product.name }}</h2>
    <h3>Price: {{ product.price }}</h3>
    <p>Details: {{ product.details }}</p>
    <a href="/products/">Go to product list</a>
    

</body>
</html>